@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "Roboto Medium" ,sans-serif,Arial;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format(truetype);
}


@font-face {
    font-family: "Archivo black";
    src: url(../fonts/Archivo/Archivo-Black.ttf) format(truetype);
}